@import "variables"

.container
  .title-wrapper
    padding: 6em 3em
    display: flex
    flex-direction: column
    row-gap: 1.5em
  .button-group
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    column-gap: 1.5em
    .about
      color: $button-text
      background: none
      border: none
  .features
    padding: 4em 3em