$text-main: #000000
$button-text: #080A45
$button-text-alternative: #FFFFFF
$button-hover-color: #6466A8
$text-secondary: #FFFFFF
$primary-background: #222684
$secondary-background: #F1DDD9
$feature-background: #E5D2CE
$main-background: #FFFFFF
$card-background: #C9B8F9
$text-neutral-dark: #080A45
$font-size: 16px
$gap: 4.5em